body {
  background-image: url('schoolimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 50%;
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
	background-color: #FFFFFF;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    resize: none;
}

#button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 100px;
}

#button1 {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
}